html
  box-sizing border-box
  font-family 'Roboto', 'Helvetica', 'Arial', sans-serif

*,
*::before,
*::after
  box-sizing inherit

html, body
  width 100%
  height 100%
  
.container
  max-width 1200px
  margin 0 auto
  
#widget-app
  display flex
  justify-content flex-start

  h2.title
    text-align center
    color #757575

.btn
  display inline-block
  text-align center
  cursor pointer
  color #fff
  width 100%
  margin 5px 0
  font-size 18px
  line-height 46px
  border-radius 5px
  border none
  outline none
  
  &[disabled]
    background-color rgba(black,.12)
    color rgba(black,.26)
    cursor auto

  &-save
    background-color #00BFA5

  &-add
    background-color #3F51B5
   