#settings
  flex-shrink 0
  display inline-block
  width 250px
  
  input
    width 100%
    height 36px
    margin 5px 0
    padding 0 10px
    font-size 16px
  
  .btn:first-of-type
    margin-top 18px