.widget
  display inline-block
  padding 15px 30px
  margin 0 10px 10px 0
  color #fff
  border-radius 3px
  font-size 20px
  background-color #3F51B5
  cursor pointer
  
  > *
    display block
    margin 15px 0